@import "../../../_variables";
:host {
    display: block;
    background-color: $dark;
    color: $textPrimary;
    height: 100%;
    width: 100%;
    ul {
        padding: 0;
        list-style: none;
        >li {
            outline: none;
            display: flex;
            flex: auto;
            align-items: center;
            justify-content: flex-start;
            font-size: 1.2rem;
            height: 64px;
            cursor: pointer;
            &.active {
                background-color: $primary;
                color: #fff;
            }
            &:hover {
                color: #fff;
            }
            >div {
                &.icon {
                    font-size: 3rem;
                    /deep/ i {
                        display: block;
                        width: $nav-width;
                        text-align: center;
                    }
                }
                &.link {
                    font-size: 1rem;
                }
            }
        }
    }
}