<ul>
  <li (click)="expandChange()">
    <div class="icon" *ngIf="!loading">
      <i class="material-icons" *ngIf="!expanded">menu</i>
      <i class="material-icons" *ngIf="expanded">close</i>
    </div>
    <div class="icon" *ngIf="loading">
      <svg class="spinner" width="24px" height="24px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
      </svg>
    </div>
  </li>
  <li *ngFor="let item of items" routerLink="{{item.route}}" routerLinkActive="active">
    <div [innerHTML]="item.icon" class="icon"></div>
    <div class="link">{{item.title}}</div>
  </li>
</ul>