@import "../../../_variables";
:host {
    display: block;
    background-color: $dark;
    color: $textPrimary;
    height: 100%;
    width: 100%;
    ul {
        padding: 0;
        list-style: none;
        > li {
            outline: none;
            display: flex;
            flex: auto;
            align-items: center;
            justify-content: flex-start;
            font-size: 1.2rem;
            height: 64px;
            cursor: pointer;
            &.active {
                background-color: $primary;
                color: #fff;
            }
            &:hover {
                color: #fff;
            }
            > div {
                &.icon {
                    display: flex;
                    font-size: 3rem;
                    ::ng-deep i {
                        display: block;
                        width: $nav-width;
                        text-align: center;
                    }
                }
                &.link {
                    font-size: 1rem;
                }
            }
        }
    }
}

$offset: 187;
$duration: 1.4s;
.spinner {
    animation: rotator $duration linear infinite;
    margin: auto;
    width: $nav-width;
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

.path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash $duration ease-in-out infinite, colors ($duration * 4) ease-in-out infinite;
}

@keyframes colors {
    0% {
        stroke: $mono1;
    }
    25% {
        stroke: $mono2;
    }
    50% {
        stroke: $mono3;
    }
    75% {
        stroke: $mono4;
    }
    100% {
        stroke: $mono5;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: $offset;
    }
    50% {
        stroke-dashoffset: $offset * 0.25;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: $offset;
        transform: rotate(450deg);
    }
}
