<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <h1>Iniciar sesión</h1>
      <form>
        <div class="form-group">
          <label for="userinput">Usuario</label>
          <input type="text" name="user" id="userinput" class="form-control" [ngClass]="{'is-invalid': userError}"
            placeholder="Introduce aquí tu usuario" [(ngModel)]="user">
          <div class="invalid-feedback">
            El usuario debe estar relleno
          </div>
        </div>
        <div class="form-group">
          <label for="passwordinput">Contraseña</label>
          <input type="password" name="password" class="form-control" id="passwordinput"
            placeholder="Introduce aquí tu contraseña" [(ngModel)]="password" [ngClass]="{'is-invalid': passwordError}">
          <div class="invalid-feedback">
            La contraseña debe estar rellena
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="login()">Entrar</button>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
