@import "../_variables";

:host{
    display: flex;
    nav {
        position: absolute;
        height: 100vh;
        width: $nav-width;
        overflow: hidden;
        z-index: 10;
        &.expand {
            width: $nav-expand-width;
        }
    }
    div {
        position: absolute;
        left: $nav-width;
        width: calc(100vw - #{$nav-width});
        header {
            width: 100%;
            height: $header-height;
        }
        main {
            width: 100%;
            height: calc(100vh - #{$header-height});
            overflow: hidden;
        }
    }
}