$header-height: 30px;
$nav-width: 50px;
$nav-expand-width: 150px;
header {
    width: 100%;
    height: $header-height;
}

div {
    display: flex;
    nav {
        position: absolute;
        height: calc(100vh - #{$header-height});
        width: $nav-width;
        z-index: 10;
        &.expand {
            width: $nav-expand-width;
        }
    }
    main {
        position: absolute;
        top: $header-height;
        left: $nav-width;
        width: calc(100vw - #{$nav-width});
        height: calc(100vh - #{$header-height});
        overflow: hidden;
    }
}