$myColorBase: #047cc0;
$myTextOnBase: #000;
$myColorDark: #1b2834;
$myTextOnDark: #56acf2;
$myColorLight: #63a4ff;
$myTextOnLight: #777677;

$header-height: 60px;
$nav-width: 64px;
$nav-expand-width: 150px;
