@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "_variables";
@import '../node_modules/bootstrap/scss/bootstrap';
body {
    background-color: #f6f6f6;
    font-size: 16px;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

h3 {
    font-size: 24px;
    line-height: 40px;
}

h4 {
    font-size: 18px;
    line-height: 20px;
}


/* Won't be used here */

h5 {
    font-size: 14px;
    line-height: 20px;
}

h6 {
    font-size: 12px;
    line-height: 20px;
}


/*
Material styles
*/

mat-checkbox /deep/ {
    &.mat-checkbox-checked.mat-accent .mat-checkbox-background,
    &.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color: $primary;
    }
}

button.mat-button {
    background-color: $primary;
    color: #fff;
    outline: none;
}

mat-form-field.mat-focused /deep/ {
    .mat-form-field-label {
        color: $secondary;
    }
    .mat-form-field-ripple{
        background-color: $secondary;
        outline: none;
    }
    .mat-input-element {
        caret-color: $secondary;
    }
}